<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container"><!-- .container-fluid -->
		<div class="navbar-header">
			{{#link-to 'index' classNames="navbar-brand"}}HowMany{{/link-to}}

			{{yield}}

			<div class="navbar-nav pull-right">
				{{#link-to 'configuration' classNames="navbar-text"}}{{t application.navbar.configuration}}{{/link-to}}
				{{#link-to 'credits' classNames="navbar-text"}}{{t application.navbar.credits}}{{/link-to}}
			</div>
		</div>
	</div>
</nav>