<div class="col-xs-12">
	<span>@ToDo: Create puntuation logic</span><hr />
</div>
<div class="col-xs-12">
	<center class="well">
		{{!--
		{{pie-chart
			dimension=dimensions.state
			group=groups.state
			all=groups.all
		}}
		--}}
		<img src="/img/tests/HowManyHomeHistory.png" />
	</center>
	<center class="well">
		<img src="/img/tests/Chronoline.png" />
	</center>
</div>