<div class="col-xs-12">
	<span>@ToDo: Red & Green color must be 100% height (<a href="https://github.com/twbs/bootstrap/issues/1671#issuecomment-17564099">Fluid Layout with 100% height</a>)<hr />
</div>
<div class="col-xs-12">
	<div class="row" style="min-height: 150px;">
		{{vevent-cancelled eventStatusCancelled="eventStatusCancelled"}}
		<div class="col-xs-8">
			{{#each event in eventsTentative}}
				{{vevent-toconfirm vevent=event}}
			{{/each}}
		</div>
		{{vevent-confirmed eventStatusConfirmed="eventStatusConfirmed"}}
	</div>
</div>
