/**
 * Application & Navbar
 */
.container-fluid {
	margin-top: 70px;
}
.navbar > .container > .navbar-header {
	width: 100%;
}

/**
 * Scalable-calendar
 */
time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 21em;
  height: 13em;
  background-color: #fff;
  margin: 2em 4em;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
/*  overflow: hidden;*/
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

time.icon .block /* *:not(script):not(.fa-plus):not(.actions) */
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon > strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}

time.icon > em
{
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}

time.icon > span
{
  font-size: 1.9em !important;
  letter-spacing: -0.05em;
  color: #2f2f2f;
}

time.icon > span.first
{
  padding-top: 1.5em;
}
/*time.icon > span.firstEmpty
{
  padding-bottom: 0.5em;
}*/
time.icon > div.actions-new {
  padding-top: 4em;
}
time.icon > div.actions-new > div:first-child
{
  padding-bottom: 1em;
}
/*
time.icon:hover, time.icon:focus
{
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}
*/
time.icon .actions
{
  position: absolute;
  top: 3em;
  left: 21em;
}
time.icon .actions > div
{
  width: 2em!important;
  height: 2em!important;
  margin-top: 1em;
  background-color: #fd9f1b;
  padding-left: 1em;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
time.icon .actions > div > i
{
  padding: 0.5em;
}
time.icon .actions > div > span
{
  display: none;
}
time.icon .actions > div:hover
{
  width: 7em!important;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
}
time.icon .actions > div:hover > span
{
  display: inline;
  position: relative;
  top: 5px;
}
/*
@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg)  skewY(0deg); }
  20%  { transform: rotate(12deg) skewY(4deg); }
  60%  { transform: rotate(-9deg) skewY(-3deg); }
  80%  { transform: rotate(6deg)  skewY(-2deg); }
  100% { transform: rotate(0deg)  skewY(0deg); }
}
*/

/**
 * vcalendar-agenda
 */
.agenda-toolbar {
	height: 25px;
	min-height: 25;
	margin-right: 0px !important;
	margin-left: 0px !important;
	border: 1px dotted black;
	border-bottom: 0px;
}
.agenda-toolbar > *:not(:last-child) {
	border-right: 1px dotted black;
}
.agenda-toolbar .agenda-toolbar-control {
	max-width: 31%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.agenda-withoutstart, .agenda-withstart {
	max-height: 700px;
	overflow: auto;
}
.agenda-withoutstart > .ember-view {
	border: 1px dotted black;
}
.agenda-withoutstart > .agenda-withoutstart-title {
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}
.agenda-withoutstart > .agenda-withoutstart-droppable {
	height: 50px;
	margin-bottom: 10px;
}
.agenda-withstart > .agenda-withstart-title {
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}

.agenda-withstart .agenda-day {
	border: 1px dotted black;
	border-bottom: 0px !important;
}
/*.agenda-week > .row > .agenda-weekday:last-child > .agenda-day {
	border-bottom: 1px dotted black;
}*/
.agenda-withstart .agenda-day, .agenda-withstart .agenda-weekend, .agenda-withstart .agenda-weekend-day {
	height: 100px;
	min-height: 100px;
 }
.agenda-withstart .agenda-weekend-day {
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
	border-right: 1px dotted black;
}
.agenda-withstart .agenda-weekend > div:first-child {
	padding-right: 0;
}
.agenda-withstart .agenda-weekend > div:last-child {
	padding-left: 0;
}
.agenda-withstart .agenda-weekend > div:first-child > div {
	border-left: 1px dotted black;
}
.agenda-withstart .agenda-weekend > div:last-child {
}
.agenda-withstart .agenda-day-legend {
	border-right: 1px dotted black;
	border-bottom: 1px dotted black;
	width: 50%;
	margin-bottom: 3px;
	padding-left: 5px;
}
.agenda-withstart .agenda-weekend-day > .agenda-day-legend {
	width: 75%;
}
.agenda-withstart .agenda-day-events {
	overflow: auto;
	padding-right: 15px;
	padding-left: 15px;
	max-height: 74px;
}
.agenda-withstart .agenda-day-events > *{
	border: 1px solid black;
	background-color: yellow;
	margin: 2px;
}

/**
 * Debug
 */
body {
	overflow-x: hidden;
	position: relative;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


/* Playing with 100% height (https://github.com/twbs/bootstrap/issues/1671)
body {
	height: 100%;
	width: 100%;
	position: absolute;
}
.container-fluid,
.row-fluid { height: inherit; }
*/
