/**
 * Application & Navbar
 */
.container-fluid {
	margin-top: 70px;
}
.navbar > .container > .navbar-header {
	width: 100%;
}

/**
 * vcalendar-agenda
 */
.agenda-day {
	border: 1px dotted black;
}
.agenda-day, .agenda-weekend-day {
	height: 100px;
	min-height: 100px;
	padding-right: 15px;
	padding-left: 15px;
 }
.agenda-weekend {
	margin-right: 0px !important;
	margin-left: 0px !important;
	border: 1px dotted black;
}
.agenda-weekend > div:first-child {
	border-right: 1px dotted black;
}

/**
 * Debug
 */
body {
	overflow-x: hidden;
	position: relative;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


/* Playing with 100% height (https://github.com/twbs/bootstrap/issues/1671)
body {
	height: 100%;
	width: 100%;
	position: absolute;
}
.container-fluid,
.row-fluid { height: inherit; }
*/
