/**
 * Application & Navbar
 */
.container-fluid {
	margin-top: 70px;
}
.navbar > .container > .navbar-header {
	width: 100%;
}

/**
 * vcalendar-agenda
 */
.agenda-toolbar {
	height: 25px;
	min-height: 25;
	margin-right: 0px !important;
	margin-left: 0px !important;
	border: 1px dotted black;
	border-bottom: 0px;
}
.agenda-toolbar > *:not(:last-child) {
	border-right: 1px dotted black;
}
.agenda-toolbar .agenda-toolbar-control {
	max-width: 31%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.agenda-withoutstart > .ember-view {
	border: 1px dotted black;
}
.agenda-withoutstart > .agenda-withoutstart-title {
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}
.agenda-withoutstart > .agenda-withoutstart-droppable {
	height: 50px;
	margin-bottom: 10px;
}
.agenda-withstart > .agenda-withstart-title {
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}

.agenda-withstart .agenda-day {
	border: 1px dotted black;
	border-bottom: 0px !important;
}
/*.agenda-week > .row > .agenda-weekday:last-child > .agenda-day {
	border-bottom: 1px dotted black;
}*/
.agenda-withstart .agenda-day, .agenda-withstart .agenda-weekend, .agenda-withstart .agenda-weekend-day {
	height: 100px;
	min-height: 100px;
 }
.agenda-withstart .agenda-weekend-day {
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
	border-right: 1px dotted black;
}
.agenda-withstart .agenda-weekend > div:first-child {
	padding-right: 0;
}
.agenda-withstart .agenda-weekend > div:last-child {
	padding-left: 0;
}
.agenda-withstart .agenda-weekend > div:first-child > div {
	border-left: 1px dotted black;
}
.agenda-withstart .agenda-weekend > div:last-child {
}
.agenda-withstart .agenda-day-legend {
	border-right: 1px dotted black;
	border-bottom: 1px dotted black;
	width: 50%;
	margin-bottom: 3px;
	padding-left: 5px;
}
.agenda-withstart .agenda-weekend-day > .agenda-day-legend {
	width: 75%;
}
.agenda-withstart .agenda-day-events {
	overflow: auto;
	padding-right: 15px;
	padding-left: 15px;
	max-height: 74px;
}
.agenda-withstart .agenda-day-events > *{
	border: 1px solid black;
	background-color: yellow;
	margin: 2px;
}

/**
 * Debug
 */
body {
	overflow-x: hidden;
	position: relative;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


/* Playing with 100% height (https://github.com/twbs/bootstrap/issues/1671)
body {
	height: 100%;
	width: 100%;
	position: absolute;
}
.container-fluid,
.row-fluid { height: inherit; }
*/
