{{#link-to 'vtodo.edit' this}}
<h1>Aixo es un ToDo</h1>
<p>This:  {{this}}</p>
<p>Model:  {{model}}</p>
<p>Summary:  {{model.summary}}</p>
<p>Tags:
	<ul>
		{{#each model.tags}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
</p>
{{/link-to}}