
<div class="row" style="border: 1px solid grey;padding: 5px;">
	<p class="lead">
		You need and *.ics file, <a href="https://support.google.com/calendar/answer/37111?hl=en" target="_blank">you can export an ics file from google calendar</a>
	</p>
	<div class="col-md-6 text-center">{{render 'uploadcalendar'}}</div>
	<div class="col-md-6 text-center">{{#bs-button large=true clicked="addNewCalendar"}}{{t home.createNewEmpty}}{{/bs-button}}</div>
</div>
