<div class="form-group">
    {{label-field propertyBinding="view.property" textBinding="view.label" classNames="col-sm-2"}}
    <div class="col-sm-10">
      {{partial "easyForm/inputControls"}}
      {{error-field propertyBinding="view.property"}}
    </div>
</div>